@model Keebee.AAT.Administrator.ViewModels.ResidentsViewModel

@{
    ViewBag.Title = "Resident Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-residents-banner">
    <div class="col-sm-10">
        <h3 class="title-residents">Resident Manager</h3>
    </div>
    <div class="add-resident-button">
        <h3><input id="add" type="button" class="btn btn-success" value="Add Resident" data-bind="click: showEditDialog" disabled /></h3>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        residents.index.init(
        {
            selectedid: '@Model.SelectedId',
            idsearch: '@Model.IdSearch',
            firstname: '@Model.FirstNameSearch',
            lastname: '@Model.LastNameSearch',
            sortcolumn: '@Model.SortColumnName',
            sortdescending: '@Model.SortDescending',
            isVideoCaptureServiceInstalled: '@Model.IsVideoCaptureServiceInstalled'
        });
    });
</script>

<div class="panel panel-default panel-no-body">
    <div class="panel-heading panel-heading-controls">
        <ul class="nav nav-pills">
            <li>
                <input id="txtSearchFirstName" type="text" class="form-control" placeholder="First Name" data-bind="value: firstNameSearch, valueUpdate: 'keyup'" />
            </li>
            <li>
                <input id="txtSearchLastName" type="text" class="form-control" placeholder="Last Name" data-bind="value: lastNameSearch, valueUpdate: 'keyup'" />
            </li>
            <li>
                <input id="txtSearchId" type="text" class="form-control form-control-id" placeholder="ID" data-bind="value: idSearch, valueUpdate: 'keyup'" />
            </li>
            <li class="pull-right total-residents">
                <label>Total:</label> <span data-bind="text: totalResidents()"></span>
            </li>
        </ul>
    </div>
</div>

<div id="loading-container" class="loading"><img src="~/Content/images/page-loading.gif" alt="Loading..."></div>

<div class="panel panel-default">
    <div class="panel-body panel-body-table-header">
        <!-- use separate table for sticky headers -->
        <div id="table-header" class="container table-header-container" hidden>
            <table class="table" >
                <thead>
                <tr>
                    <th class="col-glyphicon"></th>
                    <th class="col-glyphicon"></th>
                    <th class="col-glyphicon"></th>
                    <!-- ko foreach: columns -->
                    <!-- ko if: sortKey === 'allowvideocapturing' -->
                    <th data-bind="click: $parent.sort({ sortKey: 'allowvideocapturing', boolean: true }), attr: { id: 'resident-col-' + sortKey }, css: cssClass"><a href="javascript:void(0)"><span class="glyphicon glyphicon-facetime-video glyphicon-resident"></span></a></th>
                    <!-- /ko -->
                    <!-- ko if: sortKey !== 'allowvideocapturing' -->
                    <!-- ko if: sortKey !== 'dateupdated' -->
                    <th data-bind="click: $parent.sort, attr: { id: 'resident-col-' + sortKey, boolean: true }, css: cssClass"><a href="javascript:void(0)" data-bind="text: title"></a></th>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <th class="col-date"><a href="javascript:void(0)" data-bind="click: sort({ sortKey: 'dateupdated' })">Updated</a></th>
                    <th id="column-right" class="col-profile-picture"></th>
                </tr>
                </thead>
            </table>
        </div>

        <div id="no-records-message" class="no-records-found" hidden><h2>No residents found</h2></div>

        <div id="table-detail" class="table-detail-container container-height" hidden>
            <table data-bind="tableUpdated: residentsTable" class="table table-striped table-bordered table-hover" id="tblResident">
                <tbody data-bind="foreach: residentsTable, tableRender: residentsTable">
                <tr data-bind="click: $parent.highlightRow, attr: {id: 'row_' +  id}">
                    <td class="col-glyphicon"><a href="javascript:void(0)" data-toggle="tooltip" title="Delete resident" data-bind="attr: { id: 'delete_' + id }, click: $parent.showDeleteDialog"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <td class="col-glyphicon"><a href="javascript:void(0)" data-toggle="tooltip" title="Edit resident details" data-bind="attr: { id: 'edit_' + id }, click: $parent.showEditDialog"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td class="col-glyphicon"><a href="javascript:void(0)" data-toggle="tooltip" title="Manage resident media" data-bind="attr: { id: 'profile_' + id }, click: $parent.editProfile"><span class="glyphicon glyphicon-cd"></span></a></td>    
                    <td class="col-firstname" data-bind="text: firstname"></td>
                    <td class="col-lastname" data-bind="text: lastname"></td>
                    <td class="col-id" data-bind="text: id"></td>
                    <!-- ko if: gender === 'F' -->
                    <td class="col-gender"><i class="fa fa-female fa-resident" aria-hidden="true"></i></td>
                    <!-- /ko -->
                    <!-- ko if: gender === 'M' -->
                    <td class="col-gender"><i class="fa fa-male fa-resident" aria-hidden="true"></i></td>
                    <!-- /ko -->
                    <!-- ko if: $parent.isVideoCaptureServiceInstalled === '1' -->
                    <!-- ko if: allowvideocapturing -->
                    <td class="col-capturable"><span class="glyphicon glyphicon-ok"></span></td>
                    <!-- /ko -->
                    <!-- ko if: !allowvideocapturing -->
                    <td class="col-capturable"></td>
                    <!-- /ko -->
                    <!-- /ko -->
                    <td class="col-date" data-bind="text: moment(dateupdated).format('ll')"></td>
                    <td class="col-profile-picture">
                        <!-- ko if: profilepicture === null -->
                        <img data-bind="attr: { src: profilepictureplaceholder }" alt="" width="40" height="40" class="img-circle">
                        <!-- /ko -->
                        <!-- ko if: profilepicture !== null -->
                        <img data-bind="attr: { src: profilepicture }" alt="" width="40" height="40" class="img-circle">
                        <!-- /ko -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
