@model Keebee.AAT.Administrator.ViewModels.ResidentsViewModel

@{
    ViewBag.Title = "Resident Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Resident Manager</h3>

<script type="text/javascript">
    $(document).ready(function () {
        residents.index.init(
        {
            selectedid: '@Model.SelectedId',
            idsearch: '@Model.IdSearch',
            firstname: '@Model.FirstNameSearch',
            lastname: '@Model.LastNameSearch',
            sortcolumn: '@Model.SortColumnName',
            sortdescending: '@Model.SortDescending',
            isVideoCaptureServiceInstalled: '@Model.IsVideoCaptureServiceInstalled'
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li>
                <input type="button" class="btn btn-success" value="Add Resident" data-bind="click: showEditDialog"/>
            </li>
            <li>
                <input id="txtSearchId" type="text" class="form-control" placeholder="ID" data-bind="value: idSearch, valueUpdate: 'keyup'" />
            </li>
            <li>
                <input id="txtSearchFirstName" type="text" class="form-control" placeholder="First Name" data-bind="value: firstNameSearch, valueUpdate: 'keyup'"/>
            </li>
            <li>
                <input id="txtSearchLastName" type="text" class="form-control" placeholder="Last Name" data-bind="value: lastNameSearch, valueUpdate: 'keyup'"/>
            </li>
            <li class="pull-right record-total">
                <label>Total:</label> <span data-bind="text: totalResidents()"></span>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered" id="tblResident">
            <thead>
                <tr>
                    <th class="col-glyphicon"></th>
                    <th class="col-glyphicon"></th>
                    <th class="col-glyphicon"></th>
                    <!-- ko foreach: columns -->
                    <th data-bind="click: $parent.sort, attr: { id: 'resident-col-' + sortKey }, css: cssClass"><a href="#" data-bind="text: title"></a></th>
                    <!-- /ko -->
                    <th class="col-glyphicon"></th>
                </tr>
            </thead>

            <tbody data-bind="foreach: residentsTable">
                <tr data-bind="click: $parent.highlightRow, attr: {id: 'row_' +  id}">
                    <td><a href="#" data-bind="click: $parent.showDeleteDialog"><i class="glyphicon glyphicon-remove glyphicon-resident"></i></a></td>
                    <td><a data-bind="attr: { href: '#' }, click: $parent.showEditDialog"><i class="glyphicon glyphicon-pencil glyphicon-resident"></i></a></td>
                    <td><a data-bind="attr: { href: '#' }, click: $parent.editProfile"><i class="glyphicon glyphicon-cd glyphicon-resident"></i></a></td>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: firstname"></td>
                    <td data-bind="text: lastname"></td>
                    <td data-bind="text: gender"></td>
                    <td data-bind="text: gamedifficultylevel"></td>
                    
                    <!-- ko if: $parent.isVideoCaptureServiceInstalled === '1' -->
                    <!-- ko if: allowvideocapturing -->
                    <td style="text-align: center"><span class="glyphicon glyphicon-ok"></span></td>
                    <!-- /ko -->
                    <!-- ko if: !allowvideocapturing -->
                    <td></td>
                    <!-- /ko -->
                    <!-- /ko -->
                    <td data-bind="text: moment(dateupdated).format('ll')"></td>
                    <!-- ko if: profilepicture === null -->
                    <td><img src="~/Content/images/ProfilePicturePlaceholder.jpg" alt="" width="40" height="40" class="img-circle"></td>
                    <!-- /ko -->
                    <!-- ko if: profilepicture !== null -->
                    <td><img data-bind="attr: { src: profilepicture }" alt="" width="40" height="40" class="img-circle"></td>                  
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

