
@model Keebee.AAT.Administrator.ViewModels.PublicMediaViewModel

@{
    ViewBag.Title = "Public Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Manage media for <i><b>@Model.Title</b></i></h3>

<script type="text/javascript">
    $(document)
        .ready(function() {
            publicmedia.index.init({ selectedMediaPathTypeId: @Model.SelectedMediaPathType, selectedResponseTypeId: @Model.SelectedResponseType });
        });
</script>

@{Html.BeginForm();}
<div id="uploader-html-container" hidden="hidden">
    @Html.Raw(@Model.UploaderHtml)
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-button-container">
            <div class="upload-action-container">
                <button id="uploadbutton" type="button" class="btn btn-md btn-success upload-media-button" onclick="return" false;">@Model.AddButtonText</button>
                <button id="delete" disabled type="button" class="btn btn-md btn-danger" data-bind="click: showDeleteSelectedDialog">Delete Selected</button>
            </div>
            <input id="mediaPathTypeId" name="mediaPathTypeId" type="hidden" value="@Model.SelectedMediaPathType" />
            <input id="responseTypeId" name="responseTypeId" type="hidden" value="@Model.SelectedResponseType" />
        </div>
        <ul class="nav nav-pills">
            <li>

            </li>
            <li>
                <input id="txtSearchFilename" type="text" class="form-control" placeholder="Name" data-bind="value: filenameSearch, valueUpdate: 'keyup'" />
            </li>
            <li>
                <select id="ddlMediaPathTypes" class="form-control select-filter" data-bind="options: mediaPathTypes, optionsValue: 'id', optionsText: 'description', value: selectedMediaPathType"></select>
            </li>
            <li>
                <select id="ddlResponseTypes" class="form-control select-filter" data-bind="options: responseTypes, optionsValue: 'id', optionsText: 'description', value: selectedResponseType"></select>
            </li>
            <li class="pull-right">
                <label>Total:</label> <span data-bind="text: totalFilteredFiles()"></span>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="tblFile">
            <thead>
            <tr>
                <th class="col-glyphicon"><input type="checkbox" id="chk_all" data-bind="checked: selectAllIsSelected, click: selectAllRows"/></th>

                <!-- ko if: selectedMediaPathType() === 3 || selectedMediaPathType() === 8 -->
                <th class="col-glyphicon"></th>
                <!-- /ko -->

                <!-- ko foreach: columns -->
                <!-- ko if: !sortable -->
                <th data-bind="text: title"></th>
                <!-- /ko -->
                <!-- ko if: sortable -->
                <th data-bind="click: $parent.sort, attr: { id: 'file-col-' + sortKey }, css: cssClass"><a href="#" data-bind="text: title"></a></th>
                <!-- /ko -->
                <!-- /ko -->
            </tr>
            </thead>

            <tbody data-bind="foreach: filesTable">
            <tr data-bind="attr: { id: 'row_' + id }">
                <td><input type="checkbox" data-bind="attr: { id: 'chk_' + id }, checked: isselected, click: $parent.selectFile"/></td>
                <!-- ko if: $parent.selectedMediaPathType() === 3 || $parent.selectedMediaPathType() === 8 -->
                <td><a href="#" data-bind="click: $parent.showPreview, css: 'glyphicon glyphicon-eye-open'"></a></td>
                <!-- /ko -->
                <td data-bind="text: filename"></td>
                <td data-bind="text: filetype"></td>
                <td data-bind="text: filesize"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@{Html.EndForm();}