@model Keebee.AAT.Administrator.ViewModels.PublicProfileViewModel

@{
    ViewBag.Title = "Public Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-banner">Manage media for <i><b>@Model.Title</b></i></h3>

<script type="text/javascript">
    $(document)
        .ready(function() {
            publicprofile.index.init({ selectedMediaPathTypeId: @Model.SelectedMediaPathType });
        });
</script>

<audio id="audio-player" controls autoplay data-bind="event: { ended: audioEnded }">
    <source type="audio/mp3" src="" />
</audio>

<div style="display: none">
    <video id="video-player" controls controlsList="nodownload" autoplay><source type="video/mp4" src="" /></video>
</div>

<!-- need to post this back to the controller -->
<input id="mediaPathTypeId" name="mediaPathTypeId" type="hidden" value="@Model.SelectedMediaPathType" />

@{Html.BeginForm();}
<div id="uploader-html-container" hidden="hidden">
    @Html.Raw(@Model.UploaderHtml)
</div>

<div class="panel panel-default panel-no-body">
    <div class="panel-heading panel-heading-controls">
        <ul class="nav nav-pills">
            <li>
                <button id="delete" type="button" class="btn btn-md btn-default media-delete-button" disabled data-bind="click: showDeleteSelectedDialog"><i class="glyphicon glyphicon-trash"></i></button>
            </li>
            <li>
                <input id="txtSearchFilename" type="text" class="form-control" placeholder="Search" data-bind="value: filenameSearch, valueUpdate: 'keyup'" />
            </li>
            <li>
                <select id="ddlMediaPathTypes" class="form-control select-filter" data-bind="options: mediaPathTypes, optionsValue: 'id', optionsText: 'description', value: selectedMediaPathType"></select>
            </li>
            <li class="pull-right total-files">
                <label>Total:</label> <span data-bind="text: totalFilteredFiles()"></span>
            </li>
            <li>
                <div class="dropdown">
                    <button id="add" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" disabled>
                        Add
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" id="add-shared" data-bind="click: showLinkFromSharedLibarayDialog">From Shared Library</a></li>
                        <li><a href="javascript:void(0)" id="uploadbutton" onclick="return" false;">From Your Computer</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="loading-container" class="loading"><img src="~/Content/images/page-loading.gif" alt="Loading..."></div>

<div class="panel panel-default">
    <div class="panel-body panel-body-media">
        <!-- custom 'sticky' table header -->
        <div id="table-header" class="container table-header-container" style="display: none">
            <div class="row row-table-header">
                <div class="col-xs-1 checkbox-selectall">
                    <input class="form-control checkbox-size-lg" type="checkbox" id="chk_all" data-bind="checked: selectAllIsSelected, click: selectAllRows" />
                </div>
                <div class="col-xs-10 col-filename">
                    <a href="javascript:void(0)" class="sort" data-bind="click: sort({ sortKey: 'filename' })"><b>Description</b></a>
                </div>
                <div id="sort-right" class="col-right">
                    <div class="col-xs-1 col-checkmark">
                        <a href="javascript:void(0)" data-bind="click: sort({ sortKey: 'islinked' })" class="glyphicon glyphicon-link"></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="no-records-message" class="no-records-found" style="display: none"><h2>Profile contains no media</h2></div>

        <div id="table-detail" class="table-detail-container container-height" style="display: none">
            <table data-bind="tableUpdated: filesTable" class="table table-striped table-hover" id="tblFile">
                <tbody data-bind="foreach: filesTable, tableRender: filesTable">
                    <tr data-bind="attr: { id: 'row_' + id }">
                        <td class="col-checkbox"><input type="checkbox" class="form-control checkbox-size" data-bind="attr: { id: 'chk_' + id }, checked: isselected, click: $parent.selectFile"/></td>
                        <!-- ko if: !$parent.isAudio() -->
                        <td class="col-thumbnail">
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Preview it" data-bind="attr: { id: 'thumb_' + id }, click: $parent.showPreview">
                                <img alt="" width="40" height="40" data-bind="attr: { src: thumbnail }">
                            </a>
                        </td>
                        <!-- /ko -->
                        <!-- ko if: $parent.isAudio() -->
                        <!-- ko if: isplaying -->
                        <td class="col-thumbnail"><a href="javascript:void(0)" data-bind="attr: { id: 'audio_' + id }, click: $parent.showPreview, css: 'glyphicon glyphicon-pause'"></a></td>
                        <!-- /ko -->
                        <!-- ko if: ispaused -->
                        <td class="col-thumbnail"><a href="javascript:void(0)" data-bind="attr: { id: 'audio_' + id }, click: $parent.showPreview, css: 'glyphicon glyphicon-play play-paused'"></a></td>
                        <!-- /ko -->
                        <!-- ko if: !ispaused && !isplaying -->
                        <td class="col-thumbnail"><a href="javascript:void(0)" data-bind="attr: { id: 'audio_' + id }, click: $parent.showPreview, css: 'glyphicon glyphicon-play'"></a></td>
                        <!-- /ko -->
                        <!-- /ko -->
                        <td class="col-filename" data-bind="text: filename"></td>
                        <!-- ko if: islinked -->
                        <td class="col-checkmark"><span class="glyphicon glyphicon-ok"></span></td>
                        <!-- /ko -->
                        <!-- ko if: !islinked -->
                        <td class="col-checkmark"></td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@{Html.EndForm();}
