
@model Keebee.AAT.Administrator.ViewModels.PublicProfileViewModel

@{
    ViewBag.Title = "Public Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Manage media for <i><b>@Model.Title</b></i></h3>

<script type="text/javascript">
    $(document)
        .ready(function() {
            publicprofile.index.init({ selectedMediaPathTypeId: @Model.SelectedMediaPathType });
        });
</script>

<audio id="audio-player" controls autoplay data-bind="event: { ended: audioEnded }">
    <source type="audio/mp3" src="" />
</audio>

<div style="display: none">
    <video id="video-player" controls controlsList="nodownload" autoplay><source type="video/mp4" src="" /></video>
</div>

@{Html.BeginForm();}
<div id="uploader-html-container" hidden="hidden">
    @Html.Raw(@Model.UploaderHtml)
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-button-container">
            <div class="upload-action-container">
                <button id="uploadbutton" type="button" class="btn btn-md btn-success upload-media-button" onclick="return" false;">@Model.AddButtonText</button>
                <button id="add-shared" type="button" class="btn btn-md btn-success" data-bind="click: showLinkFromSharedLibarayDialog">Add From Shared Library</button>
                <button id="delete" disabled type="button" class="btn btn-md btn-danger" data-bind="click: showDeleteSelectedDialog">Delete Selected</button>
            </div>
            <input id="mediaPathTypeId" name="mediaPathTypeId" type="hidden" value="@Model.SelectedMediaPathType" />
        </div>
        <ul class="nav nav-pills">
            <li>
                <input id="txtSearchFilename" type="text" class="form-control" placeholder="Name" data-bind="value: filenameSearch, valueUpdate: 'keyup'" />
            </li>
            <li>
                <select id="ddlMediaPathTypes" class="form-control select-filter" data-bind="options: mediaPathTypes, optionsValue: 'id', optionsText: 'description', value: selectedMediaPathType"></select>
            </li>
            <li class="pull-right">
                <label>Total:</label> <span data-bind="text: totalFilteredFiles()"></span>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="tblFile">
            <thead>
            <tr>
                <th class="col-glyphicon"><input type="checkbox" id="chk_all" data-bind="checked: selectAllIsSelected, click: selectAllRows"/></th>
                <th class="col-glyphicon"></th>
                <!-- ko foreach: columns -->
                <!-- ko if: title !== 'Linked' -->
                <!-- ko if: !sortable -->
                <th data-bind="text: title"></th>
                <!-- /ko -->
                <!-- ko if: sortable -->
                <th data-bind="click: $parent.sort, attr: { id: 'file-col-' + sortKey }, css: cssClass"><a href="#" data-bind="text: title"></a></th>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: title === 'Linked' -->
                <th data-bind="click: $parent.sort, attr: { id: 'file-col-' + sortKey }, css: cssClass"><a href="#" data-bind="css: 'glyphicon glyphicon-link'"></a></th>
                <!-- /ko -->
                <!-- /ko -->
            </tr>
            </thead>

            <tbody data-bind="foreach: filesTable">
            <tr data-bind="attr: { id: 'row_' + id }">
                <td><input type="checkbox" data-bind="attr: { id: 'chk_' + id }, checked: isselected, click: $parent.selectFile"/></td>
                <!-- ko if: !$parent.isAudio() -->
                <td><a href="#" data-toggle="tooltip" title="Click to preview" data-bind="click: $parent.showPreview">
                    <img alt="" width="40" height="40" data-bind="attr: { src: thumbnail }">
                </a></td>
                <!-- /ko -->
                <!-- ko if: $parent.isAudio() -->
                <!-- ko if: isplaying -->
                <td><a href="#" data-bind="attr: { id: 'audio_' + id }, click: $parent.showPreview, css: 'glyphicon glyphicon-pause text-success'"></a></td>
                <!-- /ko -->          
                <!-- ko if: ispaused -->
                <td><a href="#" data-bind="attr: { id: 'audio_' + id }, click: $parent.showPreview, css: 'glyphicon glyphicon-play text-success'"></a></td>
                <!-- /ko -->
                <!-- ko if: !ispaused && !isplaying -->
                <td><a href="#" data-bind="attr: { id: 'audio_' + id }, click: $parent.showPreview, css: 'glyphicon glyphicon-play'"></a></td>
                <!-- /ko -->                
                <!-- /ko -->
                <td data-bind="text: filename"></td>
                <td data-bind="text: filetype"></td>
                <td data-bind="text: filesize"></td>
                <!-- ko if: islinked -->
                <td style="text-align: center"><span class="glyphicon glyphicon-ok"></span></td>
                <!-- /ko -->
                <!-- ko if: !islinked -->
                <td></td>
                <!-- /ko -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
@{Html.EndForm();}